<h1>{{ artist.name }}'s Page</h1><br>
<img src="{{artist.images.0.url}}" alt="" style="width: 300px;">

<h3> Total Number of Followers on Spotify: <span class="bold">{{ artist.followers.total }}</span></h3>



<h2>Genres: {{artist.genres }}</h2>
