<div class="container">

    {{#each artists }}
    <br>
    <a href="/artist/{{ id }}"><img class="center-h img-artist-search" src="{{ images.0.url }}" alt="" style="width: 300px;"></a>
    <h1 class="center-h"><a href="/artist/{{ id }}"> {{ name }} </a></h1>
    {{/each }}

</div>