<div class="container">

  <h1 style="text-align: justify;">{{message}}</h1>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>

  <a class="show-btn slide_down" href="/">Return Home</a>

</div>