<div class="container">

<h1 class="center-h lh-1"> {{user.name}}'s Favourite Artists</h1>

{{#each favourite }}

    <ul class="display-favourites">
      {{#each artistName}}
      <li>
        <a href="/artist-search?term={{this}}">{{this}}</a> 
      </li>
      <form method="POST" action="/favourites-delete" class="delete-tracked-artists">
      <input id="delete-artist" name="deleteArtistName" value="{{this}}">
      <button>Unfollow artist</button>
      </form>
      {{/each}}
  
{{/each }}  
</ul>
</div>