<h1 class="center-h lh-1"> {{user.name}}'s Favourite Artists</h1>

{{#each favourite }}

    <ul>
      {{#each artistName}}
      <li>
        <a href="/artist-search?term={{this}}">{{this}}</a> 
      </li>
      {{/each}}
    </ul>
{{/each }}
