<div class="container">

<h1 class="center-h">Add Favourite Bands/Artists</h1>
<h3>{{error}}</h3>
<form method="POST" class="favourites-add">

  <label for="input-artistName">Names</label>
  <input type="text" id="input-artistName" name="artistName" placeholder="What are your favourite artists/bands?" />
  
  <button>Create</button>
</form>
</div>