<form method="POST">

  <label for="input-artistName">Name</label>
  <input type="text" id="input-artistName" name="artistName" placeholder="What's your favourite artist?" />
  
  <button>Create</button>
</form>