<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>

<h1>Testing Spotify Integration</h1>
<form action="/artist-search" method="GET">
  <input type="text" placeholder="Search for any artist here!" name="term">
  <button>Search for an Artist</button>
</form>