{{#if user}}
<h4> Please check your email adress to finish creating your account</h4>


<h1 class="center-h lh-1">Your Account</h1>
<span><strong>Profile Picture</strong>: <br>

<img src="{{user.profilePicture}}" alt="" style="width: 200px;">

</span>
<br />
<span><strong>Name</strong>: {{user.name}}</span>
<br />
<span><strong>Email</strong>: {{user.email}}</span>
<br />
{{!-- <span><strong>Type of User</strong>: {{user.userType}}</span>
<br /> --}}
<a href="/favourites-display">My Favourite Artists</a><br>
{{#if user.status}}
<a href="/favourites-add">Add Favourite Band</a>

</br>
<a href="/edit">Edit Profile</a>

<form method="POST" action="/delete">
  <button>Delete User</button>
</form>
{{/if}}
{{/if}}