<div class="container">

{{#if user}}

<h1 class="center-h lh-1">Your Account</h1>
<h5><strong>Profile Picture</strong>: <br>

<img src="{{user.profilePicture}}" alt="" style="width: 200px;">

</h5>
<br />
<h4><strong>Name</strong>: {{user.name}}</h4>
<br />
<h4><strong>Email</strong>: {{user.email}}</h4>
<br />
{{!-- <span><strong>Type of User</strong>: {{user.userType}}</span>
<br /> --}}
<a href="/favourites-display">My Favourite Artists</a><br>
{{#if user.status}}
<a href="/favourites-add">Add Favourite Band</a>

</br>
<a href="/edit">Edit Profile</a>

<form method="POST" action="/delete">
  <button>Delete User</button>
</form>
{{/if}}
{{/if}}
</div>