<div class="container">

<h1 class="center-h lh-1">Sign in</h1>

<form class="sign-in-form" action="/authentication/sign-in" method="POST">
  <label for="input-email">Email</label>
  <input type="email" id="input-email" name="email" placeholder="Your Email" />
  <label for="input-password">Password</label>
  <input type="password" name="password" id="input-password" placeholder="*********" />
  <button class="orange-bt">Sign In</button>
</form>
</div>