.tickets {
  font-weight: bold;
}

.tickets-available {
  font-weight: bold;
  color: #007710;
}

.genres {
  margin-bottom: 2em;
}
.img-artist--shadow {
  border-radius: 10px;
  filter: drop-shadow(0 0 0.75rem darken($accent, 20%));
}
