.sign-up-form,
.sign-in-form {
  label {
    margin: 0 auto;
    font-size: 1.5em;
    padding-bottom: 0.5rem;
  }

  input {
    width: 100%;
    border-radius: 15px;
  }

  input + label {
    margin-top: 1em;
  }

  &:last-child {
    margin-top: 1em;
  }

  button {
    border: 5px solid $accent;
    margin-top: 2em;
    letter-spacing: 0.2em;
    font-size: 1.2em;
    transition: 0.1s;
  }

  button:hover {
    background-color: $accent;
    color: $dark-color;
  }
}
